[
    {
        "//": "PLEASE REMOVE // before pasting this into the as .json",
        "//": "Agent subtype keys, for whom this item is intended for, accepts an array, MUST BE DEFINED in armoury_data",
        "SubtypeKeys": ["wh_main_brt_louen_leoncouer"],
        "//": "This defines your item name internally, keep this unique! even for different type os Skeleton!",
        "ItemName": "kitbasher_horse_louen_base",
        "//": "LocalisedName is displayed on the UI",
        "LocalisedName": "Warhourse",
        "//": "Description is displayed on the UI tooltip",
        "Description": "None",
        "//": "Type could be cape, talisman, head, torso, legs, shield, 1handed, 2handed, pauldrons",
        "Type": "talisman", 
        "//": "If the item is a special item associated from ancillary set this to true (mostly for quest items, special items, or any item defined from ancillary)",
        "//": "The item effects from ancillary should be redefined for this item!",
        "//": "If you want to have common armoury item but for different unit with different skeleton you may want to define the ancillary yourself and keep this true",
        "IsItemDefinedFromAncillary": true,
        "//": "This should points to valid Ancillary Key if IsItemDefinedFromAncillary is set to true, otherwise it could be null",
        "AssociatedAncillaryKey": "wh_main_anc_armour_glittering_scales",
        "//": "Associate this item to a particular ArmouryItemSet, warning! keep in mind the compiler will also check for the skeleton type of this item",
        "AssociatedWithArmouryItemSet": null,
        "//": "Skeleton for this item, example humanoid01c, must matches with the variantmesh skeleton",
        "Skeleton": "humanoid01c",
        "//": "The category for this item, it could be unique, legendary, rare, uncommon, common",
        "ItemCategory": "unique",
        "//": "UiIcon is the icon or thumbnail for this item, it expects a png file with size of 64x64",
        "UiIcon": "assets/icons/louen_warhorse",
        "//": "The head thumbnail of this item, if the Type is head, IT MUST BE DEFINED, it expects a widescreen png file, the name must match with this armoury item name",
        "Thumbnail": null,
        "//": "The head thumbnail of this item but for the unit card, if the Type is head, IT MUST BE DEFINED, it expects a card sized png file, the name must match with this armoury item name",
        "UnitCardThumbnail": null,
        "//": "VariantMesh path for this item, could be null if item has no appearance. Do not set it to null if it's head or torso or legs piece",
        "VariantMesh": null,
        "//": "If this set to true, then VariantMeshDefinition will be generated from VariantMesh path which points to .wsmodel or .wsmodel",
        "VariantMeshDefinitionShouldCreate": false,
        "//": "VariantMesh scale",
        "VariantMeshScale": 1,
        "VariantMeshMountScale": 1,
        "//": "BattleAnimation, it will override the land_unit animation IF this item is equipped, can be set to null if not being used",
        "BattleAnimation": null,
        "//": "CampaignAnimation, it will override the agent campaign animation IF this item is equipped, can be set to null if not being used",
        "CampaignAnimation": null,
        "//": "Only compatible with these items, set null if not being used",
        "//": "The item will be hidden (in implementation we actually remove and add it behind the scene) if a certain item is not being equipped",
        "//": "FIX ME. Not implemented yet",
        "OnlyCompatibleWithItem": null,
        "//": "Audio sound effects on the variantmeshes",
        "//": "Can be set to null if there isnt any",
        "//": "This depends also on VariantMeshDefinitionShouldCreate"
        "AudioType": null,
        "//": "The AI will use this item if it's available in the slot. Leave it null or empty array, if there's none. The element should be ItemName"
        "PreferencedItems": null,
    }
]